{% extends 'xadmin/base-hui.html' %}

{% block head %}

    <title>课程列表</title>

{% endblock %}

{% block body %}

    <style>
        .no_wrap {
            white-space: nowrap;
        }

        a {
            color: dodgerblue;
        }

        [v-cloak] {
            display: none;
        }

        .radius {
            border-radius: 2px;
        }

    </style>
    {% if site.setting.sys_notice != '' %}
        <div class="Huialert Huialert-success" style="margin-bottom: 5px;"><i class="Hui-iconfont"
                                                  onclick="$(this).parent().remove();">&#xe6a6;</i>系统公告:{{ site.setting.sys_notice }}
        </div>
    {% endif %}
    <div id="app" style="margin: 10px;" v-cloak="display:none;">
        <button class="layui-btn layui-btn-small" onclick="export_course_data();">导出</button>
        <div class="layui-form-item" style="float: right">
            <input type="text" id="search_text" style="width:150px" class="input-text radius size-S"
                   oninput="app.loadData(app.$data.pageindex, app.$data.pagesize);"
                   placeholder="输入你的搜索内容">
        </div>
        <table class="layui-table">
            <thead>
            <tr>
                <th>基本信息</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items">
                <td>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm8 layui-col-md8">
                            课程名：[[item.name]]
                            <span class="layui-badge layui-bg-orange" v-if="item.coursestatus_id==0">[[item.coursestatus]]</span>
                            <span class="layui-badge layui-bg-green" v-if="item.coursestatus_id==1">[[item.coursestatus]]</span>
                            <span class="layui-badge" v-if="item.coursestatus_id==2">[[item.coursestatus]]</span>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                            课时:[[item.coursecount]]
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                            课程开始时间:[[item.coursestarttime_text]]
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                            课程结束时间:[[item.courseendtime_text]]
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                            上课时间:[[item.coursetime]]
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                            学生数量:[[item.studentcount]]
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                            预报名数:[[item.preenrollcount]]
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                            作业数量:[[item.taskcount]]
                        </div>
                    </div>

                </td>
                <td class="no_wrap">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm6">
                            <a href="javascript:void(0);" :onclick="item.view_student_list">查看学生</a>
                        </div>
                        &nbsp;
                        <div class="layui-col-xs12 layui-col-sm6">
                            <a href="javascript:void(0);" :onclick="item.view_course_task_link">作业管理</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <span id="page"></span>
    </div>

{% endblock %}

{% block script %}
    <script>
        var app = new Vue(
            {
                delimiters: ['[[', ']]'],
                el: '#app',
                data: B.gen_data(function (params) {
                }),
                methods: {
                    loadData: function (pageindex, pagesize) {
                        var params = {teacherid:{{me.id}},orderby:'-id','s_user_id':{{me.id}} };
                        params.q__courseinfo__coursename__icontains__or__courseclassname__icontains = $('#search_text').val();
                        B.gen_loadData(app, 'get_teacher_course_list', params, 'page', pageindex, pagesize, function (thiz) {
                            for (var i = 0; i < thiz.items.length; i++) {
                                thiz.items[i].view_course_task_link = "B.addWindowTab('查看" + thiz.items[i].name + "作业','/xadmin/teacher/tasklist.html?cid=" + thiz.items[i].id + "');"
                                thiz.items[i].view_student_list = "B.addWindowTab('查看" + thiz.items[i].name + "学生','/xadmin/teacher/studentlist.html?cid=" + thiz.items[i].id + "');"
                            }
                        });
                    }
                }
            }
        );

        app.loadData(app.$data.pageindex, app.$data.pagesize);

        function onTabSelected() {
            app.loadData(app.$data.pageindex, app.$data.pagesize);
        }

        function export_course_data() {
            B.callapi('export_course_excel', {user_id:{{ me.id }}}, function (res) {
                if (res && res.data) {
                    window.location.href = res.data;
                }
            });
        }

    </script>
{% endblock %}