{% extends 'xadmin/base-hui.html' %}

{% block head %}

    <title>课程列表</title>

{% endblock %}

{% block body %}

    <style>
        .no_wrap {
            white-space: nowrap;
        }

        a {
            color: dodgerblue;
        }

        [v-cloak] {
            display: none;
        }

        .radius {
            border-radius: 2px;
        }

    </style>
    {% if site.setting.sys_notice != '' %}
        <div class="Huialert Huialert-success" style="margin-bottom: 5px;"><i class="Hui-iconfont"
                                                  onclick="$(this).parent().remove();">&#xe6a6;</i>系统公告:{{ site.setting.sys_notice }}
        </div>
    {% endif %}
    <div id="app" style="margin: 10px;" v-cloak>

        <table class="layui-table">
            <thead>
            <tr>
                <th>基本信息</th>
                <th>操作</th>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="item in items">
                <td>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm9 layui-col-md8">
                            [[item.name]]
                            <span class="layui-badge layui-bg-orange" v-if="item.coursestatus_id==0">[[item.coursestatus]]</span>
                            <span class="layui-badge layui-bg-green" v-if="item.coursestatus_id==1">[[item.coursestatus]]</span>
                            <span class="layui-badge" v-if="item.coursestatus_id==2">[[item.coursestatus]]</span>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm3 layui-col-md4">
                            老师:<a href="javascript:void(0);"
                                  :onclick="item.teacherinfo_link">[[item.teacherinfo_name]]</a>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                            课程开始时间:[[item.coursestarttime_text]]
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                            课程结束时间:[[item.courseendtime_text]]
                        </div>

                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                            作业数量:[[item.taskcount]]
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                            课时:[[item.coursecount]]
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                            上课时间:[[item.coursetime]]
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                            <span v-if="item&&item.coursedesc&&item.coursedesc!=''" ><strong>课程描述:</strong></span>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md8">
                            <span v-html="item.coursedesc" v-if="item&&item.coursedesc&&item.coursedesc!=''"></span>
                        </div>

                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                            <span v-if="item&&item.coursenotice&&item.coursenotice!=''"><strong>课程公告:</strong></span>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md8">
                            <span v-html="item.coursenotice" v-if="item&&item.coursenotice&&item.coursenotice!=''"></span>
                        </div>
                    </div>
                </td>
                {#                <td>[[item.gradeinfo_text]]</td>#}
                {#                <td>[[item.teacherinfo_name]]</td>#}
                {#                <td>[[item.courseinfo_name]]</td>#}
                {#                <td>[[item.courseclassname]]</td>#}
                {#                <td>[[item.coursecount]]</td>#}
                {#                <td>[[item.coursestarttime_text]]</td>#}
                {#                <td>[[item.courseendtime_text]]</td>#}
                {#                <td>[[item.taskcount]]</td>#}
                <td class="no_wrap"><a href="javascript:void(0);" :onclick="item.view_task_link">查看作业</a></td>
            </tr>
            </tbody>
        </table>
        <span id="page"></span>
    </div>

{% endblock %}

{% block script %}
    <script>
        var app = new Vue(
            {
                delimiters: ['[[', ']]'],
                el: '#app',
                data: B.gen_data(function (params) {
                }),
                methods: {
                    loadData: function (pageindex, pagesize) {
                        var params = {studentid:{{me.id}},orderby:'-id'};
                        B.gen_loadData(app, 'get_student_course_list', params, 'page', pageindex, pagesize, function (thiz) {
                            for (var i = 0; i < thiz.items.length; i++) {
                                thiz.items[i].view_task_link = "B.addWindowTab('查看作业','/xadmin/student/tasklist.html?cid=" + thiz.items[i].id + "')";
                                thiz.items[i].teacherinfo_link = "B.addWindowTab('" + thiz.items[i].teacherinfo_name + "老师信息','/xadmin/student/teacherinfo.html?teacherid=" + thiz.items[i].teacherinfo_id + "')";
                            }
                        });
                    }
                }
            }
        );

        app.loadData(app.$data.pageindex, app.$data.pagesize);

        function onTabSelected() {
            app.loadData(app.$data.pageindex, app.$data.pagesize);
        }

    </script>
{% endblock %}